

body {
    background-image: url("../../assets/darkmistybackground.jpg");
    height: 100%;
    font-family: 'Smythe', cursive;
    color: white;
    background-attachment: fixed;
}

h1 {
    font-size: 60px;;
    width: 1200px;
    text-align: center;
    background-color: rgba(70, 105, 58, 0.5);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

nav {
    margin-top: 40px;
    margin-bottom: 50px;
}


li {
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 87.5%
}

nav ul li {
    margin-right: 10px;
    font-size: 25px;;
}

a {
    color: white;
}

img {
    height: 200px;
    border-radius: 25px 0px 0px 25px;
}

.about-me {
    background-color: rgba(70, 105, 58, 0.5);
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 40px;;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer {
    background-color: rgba(70, 105, 58, 0.5);
    text-align: center;
    padding: 10px;
    font-size: 40px;;
    /* display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin: auto; */
}

.featured {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
}

.featured li {
    display: flex;
    flex-direction: row;
    width: 300px;
    background-color: rgba(70, 105, 58, 0.5);
    border: 1px solid lightgrey;
    border-radius: 25px;
    align-content: space-between;
}

.caption {
    margin-left: 15px;
    font-size: 20px;

}